body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('/images/backImg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.login-form {
    max-width: 300px;
    margin: auto;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

select,
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
