<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PUBLIC</title>
    <style>
        *{margin: 0;padding: 0;box-sizing: border-box;font-family: "poppins", sans-serif;}
        #tableContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 80vh;
            height: 80dvh;
            overflow-y: auto;
            padding: 0 50px 0 0;
        }
        #tableContainer::-webkit-scrollbar, #sidenav::-webkit-scrollbar {
            width: 0.7em;
        }
        #tableContainer::-webkit-scrollbar-track,
        #tableContainer::-webkit-scrollbar-thumb,
        #sidenav::-webkit-scrollbar-track,
        #sidenav::-webkit-scrollbar-thumb {
            border-radius: 100vw;
        }
        #tableContainer::-webkit-scrollbar-track {
            background-color: rgba(0,0,0,0.2);
        }
        #tableContainer::-webkit-scrollbar-thumb {
            background-color: #fff;
            /* border: 3px solid rgba(0,0,0,0.7); */
        }
        #sidenav::-webkit-scrollbar-track {
            background-color: #eee;
        }
        #sidenav::-webkit-scrollbar-thumb {
            background-color: #aaa;
        }
        .students {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 1px solid #fff;
        }
        .students span {
            padding: 8px;
        }
        select, input, button {
            outline: 0;
            border: 0;
            text-align: center;
        }
        button {
            cursor: pointer;
        }
        #rooms, #arms {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
        }
        #form input, #form select, #form button {
            font-size: 0.7em;
            padding: 10px;
            /*line-height: 40px;*/
            /*color: #555*/
        }
        button#enter {
            flex: 1;
            background-color: #283e87;
            color: #fff;
            border-radius: 5px;
        }
        button#save {
            display: flex;
            align-items: center;
            background-color: greenyellow;
            color: #000;
            padding: 0 24px;
            border-radius: 5px;
        }
        #studentTable {
            border-collapse: collapse;
            /*border-radius: 8px 8px 0 0 ;*/
        }
        #studentTable thead {
            position: sticky;
            top: 0;
            background-color: #445793;
            box-shadow: 0 0 3px 5px rgba(0,0,0,0.1);
            border-radius: 0 0 5px 5px;
        }
        #studentTable tr {
            text-align: left;
            color: #fff;
        }
        #studentTable th,
        #studentTable td {
            padding: 12px 15px;
            font-size: 0.7em;
            font-weight: 200;
        }
        #studentTable tbody tr:nth-of-type(odd) {
            background-color: #5089d8;
            border-radius: 5px;
        }
        #studentTable tbody tr td:last-child {
            cursor: pointer;
            text-align: center;
        }
        #studentTable tbody tr td:last-child:hover {
            color: #000;
        }
        .pipe {
            color: #aaa;
        }
        #form form {
            background-color: #fff;
        }
        #in-box {
            color:#fff;
            font-size: 2em;
            text-align: center;
            transform: rotateX(90deg);
            transition: 1s;
        }
    </style>
    
</head>
<body>
    <div id="mainContainer" style="flex: 5;">
        <div style="display: flex;justify-content: space-between;align-items: center;">
            <h2 style="font-weight: normal;padding: 40px 0;color: #fff;">Add student(s)</h2>
            <span title="Limit" id="tbodyCount" style="background-color: rgba(0,0,0,0.2);color: #fff;font-size: 0.7em;padding: 7px 12px;border-radius: 5px;">0&nbsp;&nbsp;|&nbsp;&nbsp;20</span>
        </div>
    
    <section id="tableContainer">
        <table id="studentTable">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>KEY</th>
                    <th>USERNAME</th>
                    <th>FULL NAME</th>
                    <th>CLASS</th>
                    <th>ARM</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        
        <div id="form" style="position: sticky;bottom: 0;display: flex;justify-content: space-around;padding: 20px 0;border-radius: 5px 5px 0 0;background-color:#445793;">
            <form method="#" style="display: flex;align-items:center;width: 80%;border-radius: 5px;overflow: hidden;">
                <input id="studentName" style="flex: 3;" type="text" placeholder="Name of student" autocomplete="off" required><span class="pipe">|</span>
                <select style="flex: 1;" name="room" id="rooms">
                    <option value="JS1">JS1</option>
                    <option value="JS2">JS2</option>
                    <option value="JS3">JS3</option>
                </select><span class="pipe">|</span>
                <select style="flex: 2" name="arm" id="arms"></select>
                <button type="submit" id="enter">Enter</button>
            </form>
            <!--div-->
                <button id="save" type="button">Save&nbsp;&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="1em" height="1em" viewBox="0 0 24 24"><path d="M21,20V8.414a1,1,0,0,0-.293-.707L16.293,3.293A1,1,0,0,0,15.586,3H4A1,1,0,0,0,3,4V20a1,1,0,0,0,1,1H20A1,1,0,0,0,21,20ZM9,8h4a1,1,0,0,1,0,2H9A1,1,0,0,1,9,8Zm7,11H8V15a1,1,0,0,1,1-1h6a1,1,0,0,1,1,1Z"/></svg>
                </button>
            <!--/div-->
        </div>
    </section>
</div>
    <script defer>
        let data = JSON.parse(window.sessionStorage.getItem('armStore'));
        const selectArms = document.getElementById('arms');
            
            for(arm of data) {
                let option = new Option(arm, arm);
                selectArms.add(option, undefined);
            }
    </script>
    <script>
        // To prevent windows reloading while making form entry: UNSOLVED!!
        // window.addEventListener('beforeunload', (e) => {
        //     e.preventDefault();
        //     // console.log(e.key, e.keyCode)   // F5 116
        // })
        
        //create student class to collect data to send to the server
        /*
        class Student {
            constructor(){
                this.fname = '';
                this.uname = '';
                this.upass = '';
                this.room = '';
                this.arm = '';
                
            }
        }*/
    </script>
    <script>
        const enterBtn = document.querySelector('#enter');
        const saveBtn = document.querySelector('#save');
        const tableBody = document.querySelector('#studentTable tbody');
        const tableForm = document.querySelector('#form form');
        const tbodyCount = document.querySelector('#tbodyCount');

        let studentArray = [];

        class Student {
            constructor(){
                this.fname = document.getElementById('studentName').value;
                this.uname = '1';
                this.upass = '00000';
                this.room = document.getElementById('rooms').value;
                this.arm = document.getElementById('arms').value;
            }
            remove (index) {
                //document.querySelectorAll('#studentTable tbody tr')[index].remove();
                studentArray[index - 1] = undefined;
                //console.log(studentArray);
            }
        }

        //saveBtn
        saveBtn.onclick = () => {
            let mainContainer = document.querySelector('#mainContainer');

            saveBtn.disabled = true;
            saveBtn.style.cursor = 'not-allowed';
            //remove falsy values like undefined
            const postStudents = studentArray.filter(value => Boolean(value));

            fetch('/createStudents', {
                method: 'POST',
                body: JSON.stringify(postStudents),
                headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
            })
            .then(res => res.json())
            .then(data => {
                mainContainer.innerHTML = '';
                mainContainer.style.display = 'flex';
                mainContainer.style.justifyContent = 'center';
                mainContainer.style.alignItems = 'center';

                mainContainer.innerHTML = `
                    <div id="in-box" style="color:#fff;font-size: 2em;text-align: center;transition: 1s;">
                        ${data.result}<br><span style="color: greenyellow;">&check;</span>
                    </div>
                `;
            });
        }

        //function to remove student
        function removeStudent(elem) {
            let index = Number(elem.getAttribute('value'));
            
            studentArray[index] = undefined;
            elem.remove();            
            document.querySelectorAll('#studentTable tbody td:first-child').forEach((e,i) => e.textContent = i + 1);
            tbodyCount.innerHTML = `${tableBody.childElementCount}&nbsp;&nbsp;|&nbsp;&nbsp;20`;
        }

        //enterBtn.onclick = () => {
        tableForm.addEventListener('submit', (e) => {
            e.preventDefault();
            if (tableBody.childElementCount >= 20) return;

            tbodyCount.innerHTML = `${tableBody.childElementCount + 1}&nbsp;&nbsp;|&nbsp;&nbsp;20`;
            var Students = {
                fname : document.getElementById('studentName').value,
                uname : 'autogen',
                upass : 'autogen',
                room : document.getElementById('rooms').value,
                arm : document.getElementById('arms').value,
            }

            //display new student on table
            tableBody.innerHTML += `
                <tr value=${studentArray.length}>
                    <td>${document.querySelectorAll('#studentTable tbody tr').length + 1}</td>
                    <td>autogen</td>
                    <td>autogen</td>
                    <td>${document.getElementById('studentName').value}</td>
                    <td>${document.getElementById('rooms').value}</td>
                    <td>${document.getElementById('arms').value}</td>
                    <td onclick=removeStudent(this.parentElement)>&times;</td>
                </tr>
            `;

            studentArray.push(Students);

            document.querySelector('#tableContainer').scrollTo({
                top: document.querySelector('#tableContainer').scrollHeight + 24,
                left: 0,
                behavior: "smooth"
            })            
            //tableForm.reset()
            document.getElementById('studentName').value = '';
        })
            
       // }
        
    </script>
</body>
</html>